.DS_Store
/wx-client/node_modules/
/wx-client/dist/
/wx-client/npm-debug.log
/wx-client/selenium-debug.log
/wx-client/test/unit/coverage
/wx-client/test/e2e/reports

/wx-server/npm-debug.log
/wx-server/keywords
/wx-server/node_modules/
/wx-server/public/
/wx-server/controllers/key/